<section class="span2">
	<p class="lead"><%= current_user.email %></p>
	<p>Last Access Time:<%= current_user.last_sign_in_at %></p>
	<p>Adminstrative:<%= current_user.admin %></p>
	<p>Doctor:<%= current_user.doctor %></p>
</section>