<%= provide(:title, 'Home') %>
<div class="hero-unit">
	<h1>Medical Records</h1>
	<p>Wireless Based Mobile Health Records Management System</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Doctors Portal</h2>
		<p class="lead">
			Doctors and Medical Personnel should log in here
		</p>
		<p>
			<a class="btn btn-large" href="#">Learn More &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Patients Portal</h2>
		<p class="lead">
			Patients and Individuals with the correct credential can access Public Health Records Here
		</p>
		<p class="lead">
			<a class="btn btn-large" href="#">View details &raquo;</a>
		</p>
	</div>
	<div class="span4">
		<h2>Mobile Health Records</h2>
		<p class="lead">
			Health Records is available on your mobile device by sending an sms.
		</p>
		<p>
			<a class="btn btn-large" href="#">Find out more &raquo;</a>
		</p>
	</div>
</div>